/* Small devices (portrait tablets and large phones, 600px and up) */
$screen-sm-min: 600px;

/* Medium devices (landscape tablets, 768px and up) */
$screen-md-min: 768px;

/* Large devices (laptops/desktops, 992px and up) */
$screen-lg-min: 992px;

/* Extra large devices (large laptops and desktops, 1200px and up) */
$screen-xl-min: 1200px;


html {
  font-family: 'Open Sans', sans-serif;
  
}
body {
  background: #FFFFFF url("../images/bg.svg") no-repeat;
  // background-size: cover;
  @media only screen and (max-width: $screen-lg-min) {
    background-size: contain;
  }  
  color: #000000;
  font-size: 16px;
}
main {
  margin: 0 auto;
  padding-top: 80px;
  max-width: 100%;
  @media only screen and (min-width: $screen-lg-min) {
    padding-top: 151px;
  }
  @media only screen and (min-width: $screen-xl-min) {
    max-width: 1200px;
  }
}

/* List showing progress through checkout */
ol.path-list {
  counter-reset: path-list-counter;
  max-width: 100%;
  padding: 0;
  width: fit-content;
  @media only screen and (min-width: $screen-md-min) {
    width: 524px;
  }
  
  margin: 0 auto;
  li {
    display: inline-block;
    list-style: none;
    position: relative;
    font-size: 12px;
    text-align: center;
    height: 26px;
    text-transform: uppercase;
    margin: 0 20px 0 0;
    @media only screen and (min-width: $screen-md-min) {
      width: 120px;
      margin: 0 76px 0 0;
      font-size: 16px;
    }
    &:before {
      content: counter(path-list-counter);
      counter-increment: path-list-counter;
      color: #D8D8D8;
      position: absolute;
      font-weight: 700;
      display: table;
      vertical-align: middle;
      top: -55px;
      height: 46px;
      width: 46px;
      left: calc(50% - 23px);
      line-height: 42px;
      background: url(../images/icon-progress.svg) no-repeat;
      background-size: contain;
      z-index: 10;
    }
    &.path-list-lit {
      &:before {
        color: #FFF;
        background: url(../images/icon-progress-current.svg) no-repeat;
      }
    }
    &:after {
      @media only screen and (min-width: $screen-md-min) {
        content: "";
        position: absolute;  
        height: 1px;
        width: 165px;
        background: #D8D8D8;
        top: -28px;
        left: calc(50% + 20px);
      }
    }
    &:last-of-type {
      margin-right: 0;
      &:after {
        display: none;
      }
    }


  }
}

h1 {
  color: #000000;	
  font-size: 30px;
  font-style: italic;
  font-weight: 800;
  line-height: 65px;
  text-align: center;
  text-shadow: 4px -4px 6px #D6FFEA;
  transform: rotate(-8deg);
  @media only screen and (min-width: $screen-md-min) {
    font-size: 48px;
  }
}
h2, p {
  margin: 0 0 16px 0;
  font-size: 16px;
  line-height: 26px;
}
// calls to action 
button.product-cta {
  height: 60px;	
  width: 300px;
  font-size: 14px;
  font-weight: bold;
  border: none;
  cursor: pointer;
  &.cta-site {
    color: #767779;
    background-color: #EAEAEA;
    &:hover {
      text-decoration: underline;
      color: #000000;
    }
  }
  &.cta-checkout {
    background-color: #ADE1F3;
    transition: background-color 0.5s ease;
    float: right;
    &:hover {
      background-color: #FDD8D8;
    }
    &:disabled {
      background-color: #CCCCCC;
      cursor: not-allowed;
    }
  }
}

// layout row 
.row {
  width: 100%;
  clear: both;
  &:before {
    display: table;
    content: " ";
  }
  .col-display-first {
    float: left;
    padding-top: 30px;
    @media only screen and (min-width: $screen-md-min) {
      width: 45%;
      padding-top: 0;
    }
  }
  .col-display-second {
    
    @media only screen and (min-width: $screen-md-min) {
      
      float: right;
      width: 45%;
    }
  }
}
.info-bar {
  padding-top: 49px;
  .info-bar-panel {
    box-sizing: border-box;
    position: relative;
    float: left;
    margin: 0 30px 30px 0;
    height: 150px;
    width: calc(100% - 10px);
    @media only screen and (min-width: $screen-md-min) {
      width: 320px;
    }
    @media only screen and (min-width: $screen-xl-min) {
      width: 380px;
    }
    
    padding: 23px 37px 23px 30px;
    &.panel-pricepromise {
      background: linear-gradient(159.39deg, #FDD8D8 0%, #ADE1F3 100%);
    }
    &.panel-returns {
      background-color: #D6FFEA;
    }
    &.panel-contact {
      width: 100%;
      padding: 20px;
      @media only screen and (min-width: $screen-lg-min) {
        width: 320px;
      }
      @media only screen and (min-width: $screen-xl-min) {
        width: 350px;
        padding: 52px 10px 20px 56px;
      }
      margin-right: 0;
      
    }
    &.panel-pricepromise, &.panel-returns {
      &:after {
        border: solid 1px #000000;
        content: '';
        display: block;
        height: 100%;
        position: absolute;
        top: 10px;
        left: 10px;
        width: 100%;
        transition: top 0.2s ease, left 0.2s ease;
      }
      &:hover:after {
        top: -10px;
        left: -10px;
      }
     }
     
  }
}


// products table

table.products {
  margin: 20px 0 20px 0;
  width: 100%;
  @media only screen and (max-width: $screen-md-min) {
    display: flex;
    thead {
      display: none;
    }
  }
  thead th {
    text-align: left;
    padding: 0;
    border-bottom: 1px solid #D8D8D8;
    &:nth-of-type(2), &:nth-of-type(3){ //note, second th is over third td because first is colspan=2.
      text-align: center;
    }
    &:last-child {
      text-align: right;
    }
  }
  tbody {
    tr {
      @media only screen and (max-width: $screen-sm-min) {
        width: 100%;
        display: flex;
        flex-flow: row wrap;
        border-bottom: 1px solid #D8D8D8;
      }
      transition: opacity 0.2s ease;
    }
    tr.removed { opacity: 0;}
    tr:first-of-type td {
      padding-top: 0;
      @media only screen and (min-width: $screen-md-min) {
        padding-top: 54px;
      }
      &:first-of-type {
        @media only screen and (min-width: $screen-lg-min) {
          width: 220px;
          padding-top: 42px;
        }
      }
      &:last-child {
        padding-right: 0;
        text-align: right;
      }
      &.product-quantity {
        @media only screen and (min-width: $screen-lg-min) {
          padding-top: 38px;
        }
      }
    }
    td {
      padding: 10px 10px 10px 0;
      @media only screen and (min-width: $screen-md-min) {
        padding: 42px 0 29px 0;
        border-bottom: 1px solid #D8D8D8;
      }
      
      vertical-align: top;
      text-align: center;
      line-height: 26px;
      &.product-details {
        // padding-top: 42px;
        text-align: left;
      }
      &.product-price {
        width: auto;
      }
      @media only screen and (max-width: $screen-sm-min) {
        &.subtotal {
          margin-left: auto;
          padding: 0 20px;
          font-weight: bold;
          &::before {
            content: 'Sub-total: ';
          }
        }
        &.product-price {
          width: 150px;
        }
      }
      
      &.product-quantity {
          padding: auto 30px;
        @media only screen and (min-width: $screen-lg-min) {
          width: 170px;
          padding: 26px 0 29px 0;
        }
        
      }
      &:first-of-type {
        padding-top: 26px;
      }
      &:last-child {
        padding-right: 0;
        text-align: right;
      }
      @media only screen and (max-width: $screen-md-min) {
        img {
          max-width: 150px;
          margin-right: 20px;
        }
      }
      p.product-description {
        width: 145px;
        @media only screen and (min-width: $screen-md-min) {
          width: 245px;
          padding-right: 20px;
        }
        @media only screen and (min-width: $screen-lg-min) {
          padding-right: 65px;
        }
        @media only screen and (min-width: $screen-xl-min) {
          padding-right: 265px;
        }
      }
      p.product-stock {
        font-size: 14px;
        padding: 3px 7px;
        display: inline-block;
        &.product-stock-in {
          background-color: #D6FFEA; 
        }
      }
      span.reduced {
        color: #D0021B;
      }
      button {
        background: transparent;
        float: left;
        height: 30px;
        width: 30px;
        padding: 0;
        background: #ddf2fa;
        border: 1px solid #ADE1F3;
        outline: none;
        @media only screen and (min-width: $screen-lg-min) {
          border: none;
          height: 62px;
          width: auto;
          padding: 0 18px;
          background: transparent;
        }
        vertical-align: middle;
        cursor: pointer;
        &.quantity-remove {
          text-align: center;
          border: none;
          background: transparent;
          padding: 0;
          position: relative;
          margin: 0 auto;
          float: none;
          width: auto;
          &:after{
            content: '';
            position: absolute;
            width: 100%; 
            height: 1px;
            display: block;
            margin-top: 5px;
            right: 0;
            background: black;
            transition: width .2s ease;
            -webkit-transition: width .2s ease;
          }
          &:hover:after {
            width: 0;
          }
        }
      }
      input.input-quantity {
        box-sizing: border-box;
        height: 30px;
        width: 30px;
        @media only screen and (min-width: $screen-lg-min) {
          height: 60px;
          width: 70px;
        }
        
        border: 1px solid #b4b4b4;
        color: #1B1B1C;
        font-family: 'Montserrat', sans-serif;
        // margin-bottom: 5px;
        text-align: center;
        vertical-align: middle;
        float: left;
      }
    }
  } 
}


// totals table

table.basket-total {
  float: right;
  width: 360px;
  margin: 28px 0 33px 0;
  tr th, tr td {
    text-align: right;
    font-weight: normal;
    padding: 7px 0 7px 10px;
    &.total-value {
      font-weight: bold;
      font-size: 20px;
    }
  }
}

// Thanks notice
.thanks {
  width: 50%;
  margin: 70px auto;
  text-align: center;
  p {
    font-size: 20px;
  }
}

// housekeeping

img {
  display: block;
}
.visually-hidden { // hidden on the screen, used by screen readers
  position: absolute; 
  overflow: hidden; 
  clip: rect(0 0 0 0); 
  height: 1px; 
  width: 1px; 
  margin: -1px; 
  padding: 0; 
  border: 0;
}
