/* Small devices (portrait tablets and large phones, 600px and up) */
/* Medium devices (landscape tablets, 768px and up) */
/* Large devices (laptops/desktops, 992px and up) */
/* Extra large devices (large laptops and desktops, 1200px and up) */
html {
  font-family: 'Open Sans', sans-serif; }

body {
  background: #FFFFFF url("../images/bg.svg") no-repeat;
  color: #000000;
  font-size: 16px; }
  @media only screen and (max-width: 992px) {
    body {
      background-size: contain; } }

main {
  margin: 0 auto;
  padding-top: 80px;
  max-width: 100%; }
  @media only screen and (min-width: 992px) {
    main {
      padding-top: 151px; } }
  @media only screen and (min-width: 1200px) {
    main {
      max-width: 1200px; } }

/* List showing progress through checkout */
ol.path-list {
  counter-reset: path-list-counter;
  max-width: 100%;
  padding: 0;
  width: fit-content;
  margin: 0 auto; }
  @media only screen and (min-width: 768px) {
    ol.path-list {
      width: 524px; } }
  ol.path-list li {
    display: inline-block;
    list-style: none;
    position: relative;
    font-size: 12px;
    text-align: center;
    height: 26px;
    text-transform: uppercase;
    margin: 0 20px 0 0; }
    @media only screen and (min-width: 768px) {
      ol.path-list li {
        width: 120px;
        margin: 0 76px 0 0;
        font-size: 16px; } }
    ol.path-list li:before {
      content: counter(path-list-counter);
      counter-increment: path-list-counter;
      color: #D8D8D8;
      position: absolute;
      font-weight: 700;
      display: table;
      vertical-align: middle;
      top: -55px;
      height: 46px;
      width: 46px;
      left: calc(50% - 23px);
      line-height: 42px;
      background: url(../images/icon-progress.svg) no-repeat;
      background-size: contain;
      z-index: 10; }
    ol.path-list li.path-list-lit:before {
      color: #FFF;
      background: url(../images/icon-progress-current.svg) no-repeat; }
    @media only screen and (min-width: 768px) {
      ol.path-list li:after {
        content: "";
        position: absolute;
        height: 1px;
        width: 165px;
        background: #D8D8D8;
        top: -28px;
        left: calc(50% + 20px); } }
    ol.path-list li:last-of-type {
      margin-right: 0; }
      ol.path-list li:last-of-type:after {
        display: none; }

h1 {
  color: #000000;
  font-size: 30px;
  font-style: italic;
  font-weight: 800;
  line-height: 65px;
  text-align: center;
  text-shadow: 4px -4px 6px #D6FFEA;
  transform: rotate(-8deg); }
  @media only screen and (min-width: 768px) {
    h1 {
      font-size: 48px; } }

h2, p {
  margin: 0 0 16px 0;
  font-size: 16px;
  line-height: 26px; }

button.product-cta {
  height: 60px;
  width: 300px;
  font-size: 14px;
  font-weight: bold;
  border: none;
  cursor: pointer; }
  button.product-cta.cta-site {
    color: #767779;
    background-color: #EAEAEA; }
    button.product-cta.cta-site:hover {
      text-decoration: underline;
      color: #000000; }
  button.product-cta.cta-checkout {
    background-color: #ADE1F3;
    transition: background-color 0.5s ease;
    float: right; }
    button.product-cta.cta-checkout:hover {
      background-color: #FDD8D8; }
    button.product-cta.cta-checkout:disabled {
      background-color: #CCCCCC;
      cursor: not-allowed; }

.row {
  width: 100%;
  clear: both; }
  .row:before {
    display: table;
    content: " "; }
  .row .col-display-first {
    float: left;
    padding-top: 30px; }
    @media only screen and (min-width: 768px) {
      .row .col-display-first {
        width: 45%;
        padding-top: 0; } }
  @media only screen and (min-width: 768px) {
    .row .col-display-second {
      float: right;
      width: 45%; } }

.info-bar {
  padding-top: 49px; }
  .info-bar .info-bar-panel {
    box-sizing: border-box;
    position: relative;
    float: left;
    margin: 0 30px 30px 0;
    height: 150px;
    width: calc(100% - 10px);
    padding: 23px 37px 23px 30px; }
    @media only screen and (min-width: 768px) {
      .info-bar .info-bar-panel {
        width: 320px; } }
    @media only screen and (min-width: 1200px) {
      .info-bar .info-bar-panel {
        width: 380px; } }
    .info-bar .info-bar-panel.panel-pricepromise {
      background: linear-gradient(159.39deg, #FDD8D8 0%, #ADE1F3 100%); }
    .info-bar .info-bar-panel.panel-returns {
      background-color: #D6FFEA; }
    .info-bar .info-bar-panel.panel-contact {
      width: 100%;
      padding: 20px;
      margin-right: 0; }
      @media only screen and (min-width: 992px) {
        .info-bar .info-bar-panel.panel-contact {
          width: 320px; } }
      @media only screen and (min-width: 1200px) {
        .info-bar .info-bar-panel.panel-contact {
          width: 350px;
          padding: 52px 10px 20px 56px; } }
    .info-bar .info-bar-panel.panel-pricepromise:after, .info-bar .info-bar-panel.panel-returns:after {
      border: solid 1px #000000;
      content: '';
      display: block;
      height: 100%;
      position: absolute;
      top: 10px;
      left: 10px;
      width: 100%;
      transition: top 0.2s ease, left 0.2s ease; }
    .info-bar .info-bar-panel.panel-pricepromise:hover:after, .info-bar .info-bar-panel.panel-returns:hover:after {
      top: -10px;
      left: -10px; }

table.products {
  margin: 20px 0 20px 0;
  width: 100%; }
  @media only screen and (max-width: 768px) {
    table.products {
      display: flex; }
      table.products thead {
        display: none; } }
  table.products thead th {
    text-align: left;
    padding: 0;
    border-bottom: 1px solid #D8D8D8; }
    table.products thead th:nth-of-type(2), table.products thead th:nth-of-type(3) {
      text-align: center; }
    table.products thead th:last-child {
      text-align: right; }
  table.products tbody tr {
    transition: opacity 0.2s ease; }
    @media only screen and (max-width: 600px) {
      table.products tbody tr {
        width: 100%;
        display: flex;
        flex-flow: row wrap;
        border-bottom: 1px solid #D8D8D8; } }
  table.products tbody tr.removed {
    opacity: 0; }
  table.products tbody tr:first-of-type td {
    padding-top: 0; }
    @media only screen and (min-width: 768px) {
      table.products tbody tr:first-of-type td {
        padding-top: 54px; } }
    @media only screen and (min-width: 992px) {
      table.products tbody tr:first-of-type td:first-of-type {
        width: 220px;
        padding-top: 42px; } }
    table.products tbody tr:first-of-type td:last-child {
      padding-right: 0;
      text-align: right; }
    @media only screen and (min-width: 992px) {
      table.products tbody tr:first-of-type td.product-quantity {
        padding-top: 38px; } }
  table.products tbody td {
    padding: 10px 10px 10px 0;
    vertical-align: top;
    text-align: center;
    line-height: 26px; }
    @media only screen and (min-width: 768px) {
      table.products tbody td {
        padding: 42px 0 29px 0;
        border-bottom: 1px solid #D8D8D8; } }
    table.products tbody td.product-details {
      text-align: left; }
    table.products tbody td.product-price {
      width: auto; }
    @media only screen and (max-width: 600px) {
      table.products tbody td.subtotal {
        margin-left: auto;
        padding: 0 20px;
        font-weight: bold; }
        table.products tbody td.subtotal::before {
          content: 'Sub-total: '; }
      table.products tbody td.product-price {
        width: 150px; } }
    table.products tbody td.product-quantity {
      padding: auto 30px; }
      @media only screen and (min-width: 992px) {
        table.products tbody td.product-quantity {
          width: 170px;
          padding: 26px 0 29px 0; } }
    table.products tbody td:first-of-type {
      padding-top: 26px; }
    table.products tbody td:last-child {
      padding-right: 0;
      text-align: right; }
    @media only screen and (max-width: 768px) {
      table.products tbody td img {
        max-width: 150px;
        margin-right: 20px; } }
    table.products tbody td p.product-description {
      width: 145px; }
      @media only screen and (min-width: 768px) {
        table.products tbody td p.product-description {
          width: 245px;
          padding-right: 20px; } }
      @media only screen and (min-width: 992px) {
        table.products tbody td p.product-description {
          padding-right: 65px; } }
      @media only screen and (min-width: 1200px) {
        table.products tbody td p.product-description {
          padding-right: 265px; } }
    table.products tbody td p.product-stock {
      font-size: 14px;
      padding: 3px 7px;
      display: inline-block; }
      table.products tbody td p.product-stock.product-stock-in {
        background-color: #D6FFEA; }
    table.products tbody td span.reduced {
      color: #D0021B; }
    table.products tbody td button {
      background: transparent;
      float: left;
      height: 30px;
      width: 30px;
      padding: 0;
      background: #ddf2fa;
      border: 1px solid #ADE1F3;
      outline: none;
      vertical-align: middle;
      cursor: pointer; }
      @media only screen and (min-width: 992px) {
        table.products tbody td button {
          border: none;
          height: 62px;
          width: auto;
          padding: 0 18px;
          background: transparent; } }
      table.products tbody td button.quantity-remove {
        text-align: center;
        border: none;
        background: transparent;
        padding: 0;
        position: relative;
        margin: 0 auto;
        float: none;
        width: auto; }
        table.products tbody td button.quantity-remove:after {
          content: '';
          position: absolute;
          width: 100%;
          height: 1px;
          display: block;
          margin-top: 5px;
          right: 0;
          background: black;
          transition: width .2s ease;
          -webkit-transition: width .2s ease; }
        table.products tbody td button.quantity-remove:hover:after {
          width: 0; }
    table.products tbody td input.input-quantity {
      box-sizing: border-box;
      height: 30px;
      width: 30px;
      border: 1px solid #b4b4b4;
      color: #1B1B1C;
      font-family: 'Montserrat', sans-serif;
      text-align: center;
      vertical-align: middle;
      float: left; }
      @media only screen and (min-width: 992px) {
        table.products tbody td input.input-quantity {
          height: 60px;
          width: 70px; } }

table.basket-total {
  float: right;
  width: 360px;
  margin: 28px 0 33px 0; }
  table.basket-total tr th, table.basket-total tr td {
    text-align: right;
    font-weight: normal;
    padding: 7px 0 7px 10px; }
    table.basket-total tr th.total-value, table.basket-total tr td.total-value {
      font-weight: bold;
      font-size: 20px; }

.thanks {
  width: 50%;
  margin: 70px auto;
  text-align: center; }
  .thanks p {
    font-size: 20px; }

img {
  display: block; }

.visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0; }
